TMDB_READ_TOKEN=replace_with_tmdb_bearer_token
PORT=5001
ALLOWED_ORIGIN=http://localhost:3000
DB_HOST=sql100.infinityfree.com
DB_PORT=3306
DB_USER=if0_41744896
DB_PASSWORD=kpdZiQEIBtLJoz4
DB_NAME=if0_41744896_movie    
